

.tutorial-container {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 15%;
  background-color: #f4f4f4;
  padding: 15px;
  border-right: 1px solid #ccc;
}

.sidebar h3 {
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}


.content {
  width: 85%;
  padding: 20px;
  background-color: #f4f4f4;
}

.content img {
  width: 100%;
  margin: 10px 0;
}

.content iframe {
  display: block;
  margin: 20px auto;
}
